:root {
  --cell-size: 30px;
  --cell-gap: 2px;
}
h1 {
  height: 100px;
  text-align: center;
  align-content: center;
  background-color: lightgray;
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(255, 255, 255);
  transition-property: all;
  transition-duration: 50ms;
  &:hover {
    opacity: 0.85;
  }
  &:active {
    opacity: 0.7;
  }
}
.line {
  display: flex;
  flex-direction: row;

  gap: var(--cell-gap);
}
.boardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--cell-gap);
  background-color: hsl(0, 0%, 30%);
  width: 350px;
  height: 350px;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
